<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy | Quick.ly</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% include "scroll.html" %}
</head>

<body class="flex flex-col min-h-screen bg-cover bg-fixed" id="journal-scroll" style="background-image: url('{{ bg }}')">
    <page class="flex-grow">
        <div>
            {% include "header.html" %}
        </div>

        <main class="px-10 text-white focus:bg-orange-600">
            <div class="container px-5 py-16 mx-auto">
                <div class="flex flex-col w-full mb-12 text-left lg:text-center">
                    <h1 class="mb-6 text-2xl font-bold tracking-tighter text-white sm:text-5xl title-font">Privacy Policy</h1>
                    <p class="mx-auto text-base font-medium leading-relaxed text-center lg:w-2/3">
                        At Quickly, we are committed to protecting your privacy and ensuring that your personal information is kept secure. This privacy policy outlines the types of personal information we collect, how we use it, and the measures we take to keep it safe. The
                        privacy policy explains what personal information we collect and how it is used. The Site collects this information to analyze and provide better experiences with our services. If you do not want to agree to the Privacy Policy,
                        you must not access or use the Site.
                    </p>
                </div>
                <div class="flex flex-wrap -m-4">
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                What personal information do we collect from the people that visit our blog, website or app?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-justify text-gray-100">
                                When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, or other details to help you with your experience. When we introduce ad services to our site an user can earn which require their payment details.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                Can I update information?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-justify text-gray-100">
                                If you want to update some information, we have provided setting page where most of the details can be updated if needed. But if you find any option not available, you can contact us.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">How we use your information?</h2>
                            <ul class="mb-6 list-disc list-inside text-base leading-relaxed text-gray-100">
                                <li>To provide and improve our service: We use your information to operate our URL shortening service, to personalize your experience, and to improve the functionality of our service.</li>
                                <li>To communicate with you: We use your email address to send you important notifications related to your account, such as password reset emails and updates about our service.</li>
                                <li>To prevent fraud and abuse: We use your information to detect and prevent fraudulent activity and to enforce our Terms of Service.</li>
                                <li>To improve our website in order to better serve you.</li>
                                <li>To allow us to better service you in responding to your customer service requests.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                What about Cookies and advertising network?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-justify text-gray-100">
                                We may use third-party advertising companies to display ads when you visit our Site. These companies, may use cookies which are small text files placed on your device and similar technologies to collect information for the purpose of displaying ads related
                                to products and services of interest to you.
                                <br/> ShortURL may display advertisements served by advertising companies, which uses cookies to identify user preferences and browsing habits. Users can get more information about these cookies and privacy on advertising
                                companies's websites.
                                <br/> Web browsers accept cookies automatically, but if you prefer you can modify the configuration of your browser to refuse cookies. However, this can affect how you are able to interact with our Site and other sites
                                on the Internet.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                What about Data Security?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-gray-100 text-justify">
                                We take the security of your personal information seriously and have implemented measures to protect it from loss, theft, unauthorized access, or disclosure. However, we cannot guarantee that your information is completely secure.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                What about changes to this Privacy Policy?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-gray-100 text-justify">
                                We reserve the right to update or modify this privacy policy at any time. Any changes will be posted on this page and will take effect immediately.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="h-full flex flex-col p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                What about Data Retention?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-gray-100 text-justify">
                                We will retain your personal information for as long as necessary to provide our service to you and to comply with our legal obligations. We will delete your personal information upon your request, unless we are required by law to retain it.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="h-full flex flex-col p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                What about Information Sharing?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-gray-100 text-justify">
                                We do not sell, trade, or otherwise transfer your personal information to third parties. We may disclose your personal information to law enforcement agencies or other authorized entities if we are required to do so by law or if we believe that such disclosure
                                is necessary to protect our rights, property, or safety.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <p class="text-center mx-auto text-base font-medium leading-relaxed">
                If you have any questions about this Privacy Policy, please contact us at <a class="hover:text-orange-600" href="/contact">Contact Page</a>.
            </p>
        </main>
    </page>

    <footer class="text-blue-600 body-font">
        {% include "footer.html" %}
    </footer>
</body>

</html>