<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Condition | Quick.ly</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% include "scroll.html" %}
</head>

<body class="flex flex-col min-h-screen bg-cover bg-fixed" id="journal-scroll" style="background-image: url('{{ bg }}')">
    <page class="flex-grow">
        <div>
            {% include "header.html" %}
        </div>

        <main class="px-5 py-24">
            <div class="container mx-auto">
                <div class="flex flex-col w-full mb-12 text-left lg:text-center">
                    <h1 class="mb-6 text-2xl font-bold tracking-tighter text-white sm:text-5xl title-font">Terms & Conditions</h1>
                </div>
                <div class="px-32">
                    <div class="px-4 md:px-6 lg:px-12 py-6 md:py-12 bg-gray-800 bg-opacity-60 rounded-xl">
                        <div class="w-full">
                            <div class="mb-8">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">
                                    Terms of Service
                                </h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    The terms of service establish the rules for accessing and using the Quickly to shorten url, including any content functionality and services offered by Site, whether as a guest or registered user.
                                    <br /><br /> Be sure to read the terms of service carefully before using the site. This page explains the terms of use of Quickly to shorten url, the user when using the site is conditioned to the acceptance of the
                                    terms of use.
                                </p>
                            </div>
                            <div class="pb-8 mb-8 border-b border-gray-300">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">Conditions of Use</h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    The Quickly is available for access by all users and therefore it is necessary to agree to the conditions of use when using our services. The service allows you to shorten URLs for social networks and sites on the Internet. Shortened URLs are not deleted
                                    as long as they receiving any compaint against a url or if it voilates our policy. In order to provide a free and secure service it is not allowed to create shortened URLs that redirect to:
                                </p>
                                <ul>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Content that spreads phishing, malware or viruses
                                    </li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Abusive or suspicious content
                                    </li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Pornographic, sexual, violent or prejudiced content
                                    </li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Content related to drugs, weapons or drinks
                                    </li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Any content that may infringe other people's rights</li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Disgusting, explicit or offensive content that causes any kind of discomfort to other users</li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Content that collects data and personal information from users</li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Login pages</li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Pages with forms</li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Pages with little content</li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Pages without authority</li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Pop-ups, scripts and malicious code</li>
                                    <li class="relative md:text-xl md:leading-loose text-gray-100 w-11/12 pl-6">
                                        <div class="h-2 w-2 rounded-full bg-white absolute left-0 mt-3"></div>
                                        Double redirection</li>
                                </ul>
                                <br />
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    Any shortened URL that leads to a landing page that fits the above conditions may be deleted, all URLs created are analyzed by our team. If we receive a report of spam or notice any kind of abusive behavior against our terms of service the shortened URL
                                    will be deleted without notice.
                                    <br /> If you want to request an update or any new feature/issues in our application, contact us through contact page.
                                </p>
                            </div>
                            <div class="pb-8 mb-8 border-b border-gray-300">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">Registration and Account Security</h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    To use the Service, you must register for an account. You agree to provide accurate, current, and complete information during the registration process and to keep your account information up to date. You are responsible for maintaining the confidentiality
                                    of your account and password and for restricting access to your computer and account. You agree to accept responsibility for all activities that occur under your account.
                                </p>
                            </div>
                            <div class="pb-8 mb-8 border-b border-gray-300">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">User Content</h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    You retain all rights to any link that you submit to the Service ("User Content"). By submitting User Content, you grant Quickly a non-exclusive, worldwide, royalty-free, sublicensable, and transferable license to use, reproduce, distribute, prepare derivative
                                    works of, display, and perform the User Content in connection with the Service and Quickly's business. You represent and warrant that you have all necessary rights to grant this license and that the User Content does
                                    not infringe or violate the rights of any third party.
                                </p>
                            </div>
                            <div class="pb-8 mb-8 border-b border-gray-300">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">Disclaimer</h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    The free service of Quickly has some limitations therefore we cannot guarantee that the site or services will be uninterrupted secure or error free. None of the partners or owners will be responsible for any errors or omissions on this site or for any
                                    damage you may suffer. We do not guarantee that the site or services will be free from viruses or other harmful components. We do not guarantee that the site or services will be available at all times.
                                </p>
                            </div>
                            <div class="pb-8 mb-8 border-b border-gray-300">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">User's Responsibility</h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    By using this Site you assume personal responsibility for the results of your actions. You agree to assume full responsibility for any damages or injuries you suffer as a result of using or using the service available on this Site or other resources available
                                    from this Site. You agree to use your judgment and conduct due diligence before taking any action or implementing any plan or policy suggested or recommended on this Site.
                                </p>
                            </div>
                            <div class="pb-8 mb-8 border-b border-gray-300">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">Errors and Omissions</h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    This Site offers a free service, but is not guaranteed to be accurate, complete and up-to-date. Although we have taken appropriate steps to ensure the accuracy of the information, we cannot claim that the Site is error-free. By using the Site, you agree
                                    that the information may be inaccurate and are responsible for verifying any information obtained before taking action.
                                </p>
                            </div>
                            <div class="pb-8 mb-8 border-b border-gray-300">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">No Guarantees</h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    You agree that the Site has not made any guarantees about the results of taking any action, whether recommended on this site or not. Quickly provides resources to help users achieve success in business and other areas.
                                    <br /><br /> It is also recognized that previous results are not a guarantee of future results. Therefore, results achieved by third parties applying the services of this site are not a guarantee that you or any other
                                    person or entity will obtain similar results.
                                    <br /><br /> This service does not provide guarantees on performance or operation. In addition, the Quickly makes no representations or warranties, express or implied, regarding the information, content or services
                                    made available on or through this site. To the extent permitted by law, Quickly disclaims all warranties, express or implied, including implied warranties of marketing and fitness for a particular purpose.
                                </p>
                            </div>
                            <div class="pb-8 mb-8 border-b border-gray-300">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">Limitation of Liability</h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    You agree to absolve the site of any and all liability or loss that you or any person or entity associated with you may suffer or incur as a result of use of the information contained on this site and/or the resources you may use from this site. You agree
                                    that the site shall not be liable to you for any type of damages, including direct, indirect, special, incidental, equitable, or consequential loss or damages for use of this site.
                                    <br /><br /> The information, software, products, and services included in or available through the site may include inaccuracies or typographical errors. Changes are periodically added to the information herein. The
                                    site and/or its developers may make improvements and/or changes in the site at any time.
                                    <br /><br /> The site and/or its developers make no representations about the suitability, reliability, availability, timeliness, and accuracy of the information, software, products and services contained on the site
                                    for any purpose. To the maximum extent permitted by applicable law, all such information, software, products and services are provided "As is" without warranty or condition of any kind. The site and/or its desenvolvedores
                                    hereby disclaim all warranties and conditions with regard to this information, software, products and services, including all implied warranties or conditions of merchantability, fitness for a particular purpose, title,
                                    and non-infringement.
                                    <br /><br /> The developers of this site shall not be held liable for any damages, including but not limited to loss of use, data, or profits, resulting from the use or performance of the service, the delay or inability
                                    to use the site or related services, the provision or failure to provide services, or any information, software, products and services obtained through the site. This limitation applies regardless of the cause of the
                                    damages, whether based on contract, tort, negligence, strict liability, or otherwise. However, this limitation may not apply to you if your jurisdiction does not allow the exclusion or limitation of liability for incidental
                                    or consequential damages.
                                </p>
                            </div>
                            <div class="pb-8 mb-8 border-b border-gray-300">
                                <h3 class="mb-5 text-2xl md:text-4xl font-bold leading-9 text-white">Terms Updates</h3>
                                <p class="md:text-xl md:leading-loose text-gray-100 w-11/12 text-justify">
                                    Quickly reserves the right to update or change these terms of use at any time, the most current version will always be available on this page.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </page>
    <footer class="text-blue-600 body-font">
        {% include "footer.html" %}
    </footer>
</body>

</html>