<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy | Quick.ly</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col min-h-screen bg-cover" style="background-image: url('https://raw.githubusercontent.com/HeimanPictures/img/main/home.jpg?token=GHSAT0AAAAAAB3L4Z6JPWYYEXJY64T5FVBQZBO4T4A')">
    <page class="flex-grow">
        {% include "header.html" %}

        <main>
            <!-- Post -->

        </main>
    </page>

    <footer class="text-blue-600 body-font">
        {% include "footer.html" %}
    </footer>
</body>

</html>