<nav class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-gray-800 bg-opacity-70 flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
    <div class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
        <button class="cursor-pointer text-white opacity-50 md:hidden px-3 py-1 text-xl leading-none rounded border border-solid border-transparent" type="button" onclick="toggleNavbar('example-collapse-sidebar')">
            <i class="fas fa-bars"></i>
        </button>
        <a class="md:block text-left md:pb-2 text-white mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0" href="/">
            Quick.ly
        </a>
        <div class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden" id="example-collapse-sidebar">
            <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200">
                <div class="flex flex-wrap">
                    <div class="w-6/12">
                        <a class="md:block text-left md:pb-2 text-white mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0" href="/">
                            Quick.ly
                        </a>
                    </div>
                    <div class="w-6/12 flex justify-end">
                        <button type="button" class="cursor-pointer text-white opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent" onclick="toggleNavbar('example-collapse-sidebar')">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                <li class="items-center">
                    <a class="text-blueGray-100 hover:text-blueGray-300 text-xs uppercase py-3 font-bold block" href="/">
                        <i class="fas fa-home opacity-75 mr-2 text-sm"></i> Home
                    </a>
                </li>
                <li class="items-center">
                    <a class="{{ 'text-pink-500 hover:text-pink-600' if (page == 1) else 'text-blueGray-100 hover:text-blueGray-300' }} text-xs uppercase py-3 font-bold block" href="/dashboard">
                        <i class="fas fa-chart-line opacity-75 mr-2 text-sm"></i> Dashboard
                    </a>
                </li>
                <li class="items-center">
                    <a class="text-blueGray-100 hover:text-blueGray-300 text-xs uppercase py-3 font-bold block" href="/secured">
                        <i class="fas fa-lock opacity-75 mr-2 text-sm"></i> Secure Shortener
                    </a>
                </li>
                <li class="items-center">
                    <a class="{{ 'text-pink-500 hover:text-pink-600' if (page == 2) else 'text-blueGray-100 hover:text-blueGray-300' }} text-xs uppercase py-3 font-bold block" href="/dashboard/profile">
                        <i class="fas fa-user-circle opacity-75 mr-2 text-sm "></i> Profile
                    </a>
                </li>
                <li class="items-center ">
                    <a class="{{ 'text-pink-500 hover:text-pink-600' if (page == 3) else 'text-blueGray-100 hover:text-blueGray-300' }} text-xs uppercase py-3 font-bold block " href="/dashboard/settings">
                        <i class="fas fa-cog opacity-75 mr-2 text-sm "></i> Settings
                    </a>
                </li>
                <li class="items-center ">
                    <a class="text-blueGray-100 hover:text-blueGray-300 text-xs uppercase py-3 font-bold block " href="/report">
                        <i class="fas fa-rocket opacity-75 mr-2 text-sm "></i> Report
                    </a>
                </li>
                <li class="items-center ">
                    <a class="text-blueGray-100 hover:text-blueGray-300 text-xs uppercase py-3 font-bold block " href="/contact">
                        <i class="fas fa-phone opacity-75 mr-2 text-sm "></i> Contact
                    </a>
                </li>
            </ul>
            <hr class="my-4 md:min-w-full " />
            <h6 class="md:min-w-full text-blueGray-300 text-xs uppercase font-bold block pt-1 pb-4 no-underline ">
                Features
            </h6>
            <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4 ">
                <li class="inline-flex ">
                    <a class="{{ 'text-pink-500 hover:text-pink-600' if (page == 4) else 'text-blueGray-100 hover:text-blueGray-300' }} text-sm block mb-4 no-underline font-semibold " href="/dashboard/shorten">
                        <i class="fas fa-link opacity-75 mr-2 text-base "></i> Shorten URL
                    </a>
                </li>
                <!-- <li class="inline-flex ">
                    <a class="text-blueGray-100 hover:text-blueGray-300 text-sm block mb-4 no-underline font-semibold restricted">
                        <i class="fas fa-weebly opacity-75 mr-2 text-base "></i> Custom Domain
                    </a>
                </li> -->
            </ul>

            <hr class="my-4 md:min-w-full " />
            <h6 class="md:min-w-full text-blueGray-300 text-xs uppercase font-bold block pt-1 pb-4 no-underline ">
                API
            </h6>
            <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4 ">
                <li class="inline-flex ">
                    <a class="{{ 'text-pink-500 hover:text-pink-600' if (page == 5) else 'text-blueGray-100 hover:text-blueGray-300' }} text-sm block mb-4 no-underline font-semibold " href="/dev/documentation ">
                        <i class="fas fa-book opacity-75 mr-2 text-base "></i> Documentation
                    </a>
                </li>
            </ul>

            <!-- Auth -->
            <hr class="my-4 md:min-w-full " />
            <!-- <h6 class="md:min-w-full text-blueGray-300 text-xs uppercase font-bold block pt-1 pb-4 no-underline ">
                Auth
            </h6> -->
            <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4 ">
                <li class="inline-flex ">
                    <a class="text-blueGray-100 hover:text-pink-500 text-sm block mb-4 no-underline font-semibold " href="#/documentation/styles ">
                        <i class="fas fa-sign-out-alt opacity-75 mr-2 text-base "></i> Signout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>